<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="description" content="Estacion base del carro">
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
		<link rel="stylesheet" type= "text/css" href="css/bootstrap.min.css" >
		<script src="js/prueba.js" type="text/javascript"></script>
		<style>#canvasRuta { background-color: rgba(252, 243, 207,1); }</style>
	</head>
	<body>
		<div id="container">
			<div id="Panel Ruta">
				<canvas id="canvasRuta" height=600 width=600></canvas>
			</div>
		</div>
	</body>
</html>